# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.db

# Environment
.env

# Node
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local

# ML files
ml/data/raw/
ml/data/*.csv
ml/data/processed/
ml/models/*.pkl

# Logs
logs/
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Audio recordings
services/voice/audio/recordings/